<%- include ("./partials/header") %>
<body>
  <%- include ("./partials/navbar.ejs") %>
  <div class="container d-flex flex-column align-items-center justify-content-center p-4" style="height: 92vh;">
    <div>
      <img src="/images/logo.png" width="400px"/>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h2 class="text-center">Welcome to <strong>Question</strong><br/>Ask to someone</h2>
      <a href="/ask">
        <button class="btn btn-primary">Let's start</button>
      </a>
    </div>
  </div>
</body>
<%- include("./partials/footer") %>